// ============== STYELS FOR THE 404 PAGE ===================

.error-main {
	width: 100%;
	display: block;
	position: relative;
	margin-inline: auto;

	// BACKGROUND IMAGE ("Oops!" TEXT)
	.illustration-img__wrapper {
		display: block;
		width: 95%;
		margin: 0 auto -4rem auto;
		height: 8rem;
		position: relative;
	}
	.illustration-img {
		display: inline-block;
		width: 100%;
		top: 0;
		opacity: 0.6;
		margin-bottom: 2rem;
		position: absolute;
		z-index: -1;
		isolation: isolate;
	}

	// ======== MEDIA QUERIES ===========
	@media screen and (max-width: 1024px) {
		.illustration-img__wrapper {
			margin-bottom: -10rem;
		}
	}

	@media screen and (max-width: 650px) {
		width: 80%;
		margin-block: 4rem;
	}
}

// MAIN ERROR PAGE CONTENT
.error-404 {
	width: 80%;
	max-width: 40rem;
	margin: 6rem auto 2rem auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	z-index: 2;

	// 404 IMAGE
	&__img--wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__img {
		width: 100%;
	}

	&__heading {
		color: $titleTextColor;
		font-size: 2rem;
		margin-top: -4rem;
		margin-left: 5rem;
	}

	&__txt {
		margin-block: 2rem;
		margin-inline: auto;
		width: 80%;
	}

	.btn {
		padding-inline: 4rem;
	}

	// ========== MEDIA QUERIES ============
	@media screen and (max-width: 650px) {
		width: 100%;
		margin-top: 2rem;

		&__heading {
			margin-top: -2.5rem;
			margin-left: 3rem;
			font-size: 1.2rem;
		}

		&__txt {
			width: 100%;
		}
	}
}
