/* =========== USER PROFILE SECTION ===================== */
.profile {
	width: 25%;
	height: 70vh;
	padding: 0.8rem;
	position: sticky;
	top: 7.5rem;
	display: flex;
	flex-direction: column;

	&--card {
		border-top: 4px solid $primaryColor;
		border-radius: 0.8rem 0.8rem 0rem 0rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 0.8rem;
		margin-bottom: 1rem;
		width: 100%;
		box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.08);

		p {
			font-size: 0.8em;
		}
	}

	&--img {
		width: 80%;
		aspect-ratio: 1/1;
		border-radius: 1rem;
	}

	.username {
		font-size: $bodyFontSize;
		color: $primaryColor;
		text-transform: capitalize;
		margin-block: 0.2rem;
	}

	.user-role {
		font-size: 0.7em;
		text-transform: capitalize;
		margin-bottom: 1rem;
	}

	.user-mobile {
		margin: 0.5rem auto;
		font-size: 0.8em;
	}

	.edit-profile {
		display: flex;
		justify-content: center;
		align-items: center;
		justify-self: flex-end;
		margin: 1rem 0 auto;
		text-transform: capitalize;
		color: $primaryColor;
	}

	.icon {
		width: 1rem;
		aspect-ratio: 1/1;
		display: inline-block;
		margin-right: 0.1rem;
	}

	.link-text {
		color: $titleTextColor;
		text-transform: capitalize;
		font-size: $bodyFontSize;
		font-weight: 600;
		display: inline-block;
		margin-block: 0.5rem;
		padding: 0;

		&:hover {
			color: $accentColor;
		}
	}
}

.ambassador-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.8rem 0.2rem;
	border-radius: 0.4rem;
	max-width: 100%;
	color: white;
	background-color: $primaryColor;

	span {
		font-size: 0.8em;
	}
}

.logout-btn {
	color: red;
	font-size: $h5FontSize;
	font-weight: bold;
	display: inline-block;
}

// ===================== MEDIA QUERIES ==========================
@media screen and (max-width: 650px) {
	.profile {
		width: 90%;
		height: auto;
		margin: 2rem auto;
		position: static;
		box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.08);
		border-top: 4px solid $primaryColor;
		border-radius: 0.8rem 0.8rem 0rem 0rem;

		.link-text,
		.logout-btn {
			display: none;
		}

		&--card {
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: flex-start;
			align-items: flex-end;
			box-shadow: none;
			border: unset;
			border-radius: 0;
			position: relative;
		}

		&--img {
			width: 40%;
		}

		.user-mobile {
			margin: 0.5rem;
		}

		.user-contact {
			display: flex;
			align-items: center;
			justify-content: start;
		}

		.edit-profile {
			font-size: 0.8em;
			position: absolute;
			top: 2rem;
			right: 0;
		}

		.ambassador-btn {
			width: 60%;
			font-size: 1em;
			margin-inline: auto;
		}
	}
}
