html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: auto;
  font-family: "Nunito Sans", sans-serif;
}

h1 {
  font-size: clamp(1.7rem, 3vw, 3rem);
  line-height: 1.2;
}

h2 {
  font-size: clamp(1.75rem, 4vw, 2.5rem);
}

h4 {
  font-size: clamp(1.3rem, 2vw, 1.5rem);
}

h5 {
  font-size: 1.125em;
  color: rgb(4, 30, 14);
}

h1, h2 {
  color: rgb(4, 30, 14);
}

p {
  font-size: 1em;
  color: rgb(84, 84, 84);
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  color: rgb(84, 84, 84);
}

.padding-wrapper {
  padding: 0 40px;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

<<<<<<< HEAD
.body-wrapper {
  margin: 0 auto;
  width: 90%;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: white;
  box-shadow: 0px 4px 37px rgba(13, 13, 13, 0.2509803922);
  border-radius: 0.7rem 0 0 0.7rem;
  position: sticky;
  top: 0;
  z-index: 1;
}
nav .logo {
  width: 5%;
  margin-left: 0.8rem;
  margin-right: 0.8rem;
}
nav .logo img {
  width: 100%;
}
nav .nav-links {
  flex-grow: 3;
}
nav .nav-links a {
  margin: 0 0.5rem;
  color: rgb(84, 84, 84);
  font-size: 0.95rem;
}
nav .nav-links .eco-img {
  width: 1.5%;
  height: 5%;
}
nav .menu {
  display: none;
}
nav .connect {
  width: 30%;
  background: #1DB559;
  height: 100%;
  padding: 1.3rem 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  -webkit-clip-path: polygon(25px 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(25px 0, 100% 0, 100% 100%, 0 100%);
}
nav .connect p {
  font-size: 0.7rem;
  margin-bottom: 0.5rem;
  color: white;
  width: 80%;
  text-align: right;
  margin-right: 2rem;
}
nav .connect .social-btn {
  display: flex;
  justify-content: space-around;
  width: 80%;
}
nav .connect .social-btn button {
  background: transparent;
  border: 0;
}
nav .connect .social-btn button img {
  width: 70%;
}

@media only screen and (max-width: 1020px) {
  .connect {
    padding: 0.8rem 0 !important;
  }
  .connect p {
    margin: 0.3rem 0 !important;
    font-size: 0.6rem !important;
  }
}
@media only screen and (max-width: 770px) {
  .body-wrapper {
    width: 100% !important;
  }
  .nav-links a {
    font-size: 0.8rem !important;
    margin: 0 0.3rem !important;
  }
  .connect {
    padding: 0.8rem 0 !important;
  }
  .connect p {
    margin: 0.3rem 0 !important;
    font-size: 0.6rem !important;
  }
}
@media only screen and (max-width: 660px) {
  .logo {
    width: 50%;
  }
  .logo img {
    width: 100%;
  }
  .nav-links a {
    font-size: 0.7rem !important;
    margin: 0 0.2rem !important;
  }
  .connect {
    width: 35% !important;
    padding: 0.5rem !important;
  }
  .connect p {
    margin: 0.2rem 0 !important;
    font-size: 0.55rem !important;
  }
}
@media only screen and (max-width: 480px) {
  .body-wrapper {
    margin: 0;
    width: 100%;
  }
  nav {
    justify-content: space-between;
    width: 100%;
    border-radius: 0;
  }
  nav .logo {
    width: 35%;
  }
  nav .logo img {
    width: 40%;
  }
  nav .toggler {
    display: none;
  }
  nav .menu {
    display: block !important;
  }
  nav .menu button {
    background: transparent;
    border: 0;
  }
}
.cat-wrapper {
  padding: 2rem 1.2rem 0 1.2rem;
}
.cat-wrapper h5 {
  font-size: 1.125em;
}
.cat-wrapper form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 0.3rem 0.3rem;
  border-radius: 0.3rem;
  margin: 0.5rem 0;
}
.cat-wrapper form input {
  border: 0;
  background: transparent;
}
.cat-wrapper form button {
  border: 0;
  background: transparent;
  background-color: rgb(46, 162, 207);
  padding: 0.2rem;
}
.cat-wrapper form button img {
  width: 70%;
}

.category {
  width: 23%;
  background-color: #D8E7F5;
  border-radius: 0.8rem 0.8rem 0rem 0rem;
  height: 70vh;
  position: sticky;
  top: 7.5rem;
}

.radio div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

@media only screen and (max-width: 1020px) {
  .cat-wrapper h5 {
    font-size: 0.9rem;
  }
  .cat-wrapper form input {
    width: 65%;
  }
  .cat-wrapper form button img {
    width: 40%;
  }
}
@media only screen and (max-width: 770px) {
  .category {
    width: 25%;
  }
  .cat-wrapper h5 {
    font-size: 0.8rem;
  }
  .cat-wrapper form input {
    width: 60%;
  }
  .cat-wrapper form button img {
    width: 40%;
  }
}
@media only screen and (max-width: 660px) {
  .category {
    display: none;
  }
}
@media only screen and (max-width: 480px) {
  .category {
    display: none;
  }
}
.problems-main {
  width: 75%;
}
.problems-main .heading {
  margin-bottom: 1rem;
}
.problems-main .heading form {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border: 1px solid black;
  padding: 0.3rem 0.3rem;
  border-radius: 0.5rem;
  margin: 0.5rem 0;
}
.problems-main .heading form input {
  border: 0;
  background: transparent;
}
.problems-main .heading form button {
  border: 0;
  background: transparent;
  background-color: rgb(46, 162, 207);
  padding: 0.2rem;
}
.problems-main .heading form button img {
  width: 70%;
}

.card-wrapper {
  padding: 1rem;
}

.problems-card {
  margin: 2rem auto;
  width: 90%;
  border-radius: 0.7rem;
  box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.08);
}

.problem-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.4rem;
}
.problem-header .goal {
  display: flex;
  align-items: center;
}
.problem-header .goal img {
  width: 20%;
  margin-left: 0.3rem;
}

.problem-details {
  margin-top: 1rem;
}
.problem-details .detail-img {
  display: flex;
  justify-content: space-between;
}
.problem-details .detail-img .first {
  width: 62%;
}
.problem-details .detail-img .second {
  width: 37%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.problem-footer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 1rem 0;
}
.problem-footer .problem-link {
  width: 35%;
  background-color: rgb(46, 162, 207);
  justify-content: center;
  color: white;
  border-radius: 0.4rem;
}
.problem-footer button {
  display: flex;
  align-items: center;
  background: transparent;
  border: 0;
}
.problem-footer button img {
  width: 40%;
  margin-right: 0.3rem;
}
.problem-footer button span {
  font-size: 0.83rem;
}

@media only screen and (max-width: 1020px) {
  .heading form input {
    width: 65%;
  }
  .problem-header div span,
  p {
    font-size: 0.9rem;
  }
}
@media only screen and (max-width: 770px) {
  .heading {
    margin-bottom: 0.5rem !important;
  }
  .heading form input {
    width: 60%;
  }
  .problem-header div span,
  p {
    font-size: 0.9rem;
  }
}
@media only screen and (max-width: 660px) {
  .problems-main {
    width: 100%;
  }
  .heading form {
    width: 40% !important;
  }
  .problem-header div span,
  p {
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 480px) {
  .problems-main {
    width: 100%;
  }
  .heading {
    flex-direction: column;
  }
  .heading form {
    width: 70% !important;
  }
  .problem-header div span,
  p {
    font-size: 0.7rem;
  }
  .post-location {
    display: flex;
    align-items: center;
  }
}
@media only screen and (max-width: 395px) {
  .problem-header div span,
  p {
    font-size: 0.6rem;
  }
}
.main-content {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.heading {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}/*# sourceMappingURL=main.css.map */
=======
.primary-color {
  color: rgb(29, 181, 89);
}

.non-bold {
  font-weight: 400;
}

.btn {
  font-family: inherit;
  font-size: 1em;
  height: 45px;
  border: 0px;
  border-radius: 8px;
  color: #fff;
  background-color: rgb(29, 181, 89);
  padding: 8px 16px;
  transition: 0.3s;
  cursor: pointer;
}
.btn:hover {
  background-color: rgb(46, 162, 207);
  transition: 0.3s;
}

.btn--without-bg {
  font-family: inherit;
  font-size: 1em;
  border: 1.5px solid #474747;
  border-radius: 8px;
  color: rgb(0, 0, 0);
  padding: 8px 16px;
  transition: 0.3s;
  display: flex;
  align-items: center;
  background-color: transparent;
}
.btn--without-bg:hover {
  color: rgb(46, 162, 207);
  border: 1.5px solid rgb(46, 162, 207);
  transition: 0.3s;
}

.link-text {
  font-weight: 600;
  color: rgb(46, 162, 207);
  padding: 4px 8px;
  display: flex;
  align-items: center;
  transition: 0.3s;
}
.link-text:hover {
  color: rgb(29, 181, 89);
  transition: 0.3s;
}

button {
  background: transparent;
  border: 0px;
}

.input-field {
  display: block;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 8px;
  height: 48px;
  padding: 6px 8px;
  line-height: 1;
  font-family: inherit;
  font-size: 1em;
}

textarea {
  display: block;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 8px;
  height: 200px;
  padding: 6px 8px;
  line-height: 1;
  font-family: inherit;
  font-size: 1em;
  resize: none;
}

/*======HERO SECTION STYLING=====*/
.hero-section {
  display: flex;
  gap: 24px;
  align-items: center;
  padding: 12px 24px;
  background: url("../images/hero-background.png") no-repeat, center;
  background-size: cover;
  width: 100%;
}
.hero-section .text-description {
  width: 60%;
}
.hero-section .text-description h1 {
  margin-bottom: 24px;
}
.hero-section .text-description .btn-group {
  display: flex;
  gap: 24px;
  margin-top: 48px;
}
.hero-section .text-description .metric--container {
  display: flex;
  gap: 48px;
  margin: 12px;
}
.hero-section .text-description .metric--container h5 {
  font-weight: 500;
}
.hero-section .text-description .metric {
  text-align: center;
}
.hero-section .img-description {
  width: 40%;
  text-align: center;
}
.hero-section .img-description img {
  width: 75%;
  height: auto;
}

@media (max-width: 1024px) {
  .hero-section .text-description {
    width: 50%;
  }
  .hero-section .img-description {
    width: 50%;
  }
}
@media (max-width: 750px) {
  .hero-section .img-description img {
    width: 85%;
  }
}
@media (max-width: 650px) {
  .hero-section {
    flex-direction: column;
    justify-content: center;
  }
  .hero-section .text-description {
    width: 100%;
    text-align: center;
  }
  .hero-section .text-description .btn-group {
    justify-content: center;
  }
  .hero-section .text-description .metric--container {
    justify-content: center;
  }
  .hero-section .img-description {
    width: 100%;
  }
  .hero-section .img-description img {
    width: 85%;
  }
}
/*======END OF HERO SECTION STYLING=====*/
/*======DEVELOPER CIRCLE SECTION STYLING=====*/
.developer-circle {
  margin-top: 96px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/innovation-map-bg.png") no-repeat, center;
  background-size: cover;
  height: 350px;
  width: 100%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.developer-circle .circle--wrapper {
  max-width: 500px;
}
.developer-circle .circle--wrapper h2,
.developer-circle .circle--wrapper p {
  color: #fff;
}
.developer-circle .circle--wrapper h2 {
  margin-bottom: 12px;
}
.developer-circle .circle--wrapper p {
  margin-bottom: 24px;
}

/*======END OF DEVELOPER CIRCLE SECTION STYLING=====*/
/*======COMING SOON SECTION STYLING=====*/
.coming-soon__app {
  max-width: 1200px;
  margin: auto;
  margin-top: 250px;
  margin-bottom: 250px;
  padding: 24px;
  display: flex;
  align-items: center;
  background: url("../images/neural-link-bg.png") no-repeat, center;
  background-size: cover;
  position: relative;
  height: 500px;
}
.coming-soon__app .img-description {
  width: 50%;
}
.coming-soon__app .img-description img {
  width: 200px;
  height: auto;
}
.coming-soon__app .img-description__2 {
  display: none;
}
.coming-soon__app .img-group {
  display: flex;
  align-items: center;
  position: absolute;
  top: -35%;
}
.coming-soon__app .img-abs-position {
  display: flex;
  flex-direction: column;
}
.coming-soon__app .text-description {
  width: 50%;
}
.coming-soon__app .text-description h2,
.coming-soon__app .text-description p {
  color: #fff;
}
.coming-soon__app .text-description .filled--heading {
  margin: 6px 0 12px;
  color: rgb(29, 181, 89);
}
.coming-soon__app .text-description p {
  margin-bottom: 24px;
}
.coming-soon__app .text-description .btn-group {
  display: flex;
  align-items: center;
  gap: 12px;
}
.coming-soon__app .text-description .btn-group img {
  width: auto;
  height: 40px;
}
.coming-soon__app .text-description form {
  margin-top: 32px;
  background-color: #fff;
  border-radius: 8px;
  padding: 24px;
}
.coming-soon__app .text-description h5 {
  margin-bottom: 12px;
}
.coming-soon__app .text-description .input-field {
  width: 70%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M3 3h18a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1zm9.06 8.683L5.648 6.238 4.353 7.762l7.72 6.555 7.581-6.56-1.308-1.513-6.285 5.439z' fill='rgba(148,148,148,1)'/%3E%3C/svg%3E");
  background-position: 1%;
  background-repeat: no-repeat;
  padding-left: 28px;
}

@media (max-width: 850px) {
  .coming-soon__app {
    margin: 96px auto;
    flex-direction: column-reverse;
    justify-content: center;
    height: auto;
  }
  .coming-soon__app .img-description {
    width: 80%;
  }
  .coming-soon__app .img-group {
    display: flex;
    gap: 12px;
    align-items: center;
    position: static;
    transform: translateY(60px);
  }
  .coming-soon__app .img-abs-position {
    flex-flow: row wrap;
  }
  .coming-soon__app .text-description {
    width: 80%;
  }
}
@media (max-width: 550px) {
  .coming-soon__app .img-description {
    display: none;
  }
  .coming-soon__app .img-description__2 {
    display: block;
    width: 100%;
  }
  .coming-soon__app .img-description__2 img {
    width: 33.3333333333%;
    height: auto;
  }
  .coming-soon__app .img-group {
    transform: translateY(60px);
  }
  .coming-soon__app .img-abs-position {
    display: inline;
    flex-flow: row wrap;
  }
  .coming-soon__app .text-description {
    width: 100%;
  }
}
/*======END OF COMING SOON SECTION STYLING=====*/
/*======ECO INTORDUCTION SECTION STYLING=====*/
.eco-introduction {
  padding: 24px;
}
.eco-introduction header {
  text-align: center;
  margin-bottom: 48px;
}
.eco-introduction header h2 {
  margin-bottom: 12px;
}
.eco-introduction header .non-bold {
  font-weight: 400;
  margin-bottom: 8px;
}
.eco-introduction header .abbreviation {
  position: relative;
  display: inline-block;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
.eco-introduction header .custom-underline {
  display: block;
  margin: auto;
  transform: translateY(12px);
}
.eco-introduction .intro--container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 24px;
}
.eco-introduction .intro--container .intro--card {
  max-width: 400px;
  padding: 12px;
  border-radius: 8px;
}
.eco-introduction .intro--container .environ {
  background-color: rgb(238, 252, 244);
}
.eco-introduction .intro--container .community {
  background-color: rgb(241, 250, 254);
}
.eco-introduction .intro--container .organization {
  background-color: rgb(255, 243, 237);
}
.eco-introduction .intro--container .eco-icon {
  width: 32px;
  height: auto;
  margin-bottom: 24px;
}
.eco-introduction .intro--container h4 {
  margin-bottom: 12px;
}

@media (max-width: 800px) {
  .intro--container {
    place-items: center;
  }
}
@media (max-width: 530px) {
  .eco-introduction .custom-underline {
    width: 100% !important;
  }
}
/*======ECO INTORDUCTION SECTION STYLING=====*/
/*======TECH4GOOD AFRICA SECTION STYLING=====*/
.t4ga-section {
  margin: 96px 0;
  display: flex;
  gap: 24px;
  align-items: center;
  background: linear-gradient(91.56deg, #f5f7fa 0.55%, #b8c6db 98.03%);
  padding: 24px;
}
.t4ga-section .img-description {
  width: 40%;
}
.t4ga-section .img-description img {
  width: 50%;
}
.t4ga-section .text-description {
  width: 60%;
}
.t4ga-section .text-description p {
  margin-bottom: 24px;
}
.t4ga-section .socials--container {
  display: flex;
  gap: 12px;
  align-items: center;
  transform: translateY(40px);
  margin-bottom: 48px;
}
.t4ga-section .socials--container img {
  width: 24px;
  height: auto;
}

@media (max-width: 650px) {
  .t4ga-section {
    flex-direction: column;
    justify-content: center;
  }
  .t4ga-section .img-description,
  .t4ga-section .text-description {
    width: 80%;
  }
  .t4ga-section .img-description {
    text-align: center;
  }
}
@media (max-width: 550px) {
  .t4ga-section {
    height: auto;
  }
  .t4ga-section .img-description,
  .t4ga-section .text-description {
    width: 100%;
  }
}
/*======END OF TECH4GOOD AFRICA SECTION STYLING=====*/
/*======FEATURE SECTION STYLING=====*/
.features-section {
  padding: 24px;
  display: flex;
  align-items: center;
  width: 100%;
  background: url("../images/Tech-4-good-bg.png") no-repeat, center;
  background-size: cover;
}
.features-section .lhs-description {
  width: 50%;
}
.features-section .rhs-description {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 24px;
}
.features-section .rhs-description h4 {
  margin-bottom: 12px;
}
.features-section .rhs-description .features--container {
  max-width: 400px;
  padding: 12px;
  border-radius: 8px;
  background: #ffffff;
  border-top: 2px solid #1db559;
  box-shadow: 0px 0px 16px rgba(13, 13, 13, 0.25);
  border-radius: 10px;
}
.features-section .rhs-description .eco-icon {
  width: 32px;
  height: auto;
  margin-bottom: 12px;
}

@media (max-width: 1024px) {
  .features-section {
    flex-direction: column;
    justify-content: center;
  }
  .features-section .lhs-description {
    text-align: center;
    margin: 24px 0 48px;
  }
  .features-section .lhs-description,
  .features-section .rhs-description {
    width: 100%;
  }
}
@media (max-width: 650px) {
  .features-section .rhs-description {
    place-items: center;
  }
}
/*======END OF FEATURE SECTION STYLING=====*/
/*======CONTACT SECTION STYLING=====*/
.contact-section {
  padding: 24px;
  margin-top: 96px;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 24px;
}
.contact-section .lhs-description {
  width: 50%;
}
.contact-section .lhs-description header {
  max-width: 500px;
}
.contact-section .lhs-description h4 {
  margin-bottom: 12px;
}
.contact-section .rhs-description {
  width: 50%;
}
.contact-section .rhs-description form {
  background: #ffffff;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  padding: 24px;
  text-align: center;
  margin: auto;
  width: 100%;
}
.contact-section .rhs-description div {
  margin-bottom: 24px;
  display: block;
  text-align: left;
}
.contact-section .rhs-description .input-field,
.contact-section .rhs-description textarea {
  margin: auto;
  width: 80%;
  margin-top: 12px;
}
.contact-section .rhs-description .input-field {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M3 3h18a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1zm9.06 8.683L5.648 6.238 4.353 7.762l7.72 6.555 7.581-6.56-1.308-1.513-6.285 5.439z' fill='rgba(148,148,148,1)'/%3E%3C/svg%3E");
  background-position: 1%;
  background-repeat: no-repeat;
  padding-left: 32px;
}
.contact-section .rhs-description label {
  display: block;
  margin: auto;
  width: 80%;
}
.contact-section .rhs-description button {
  width: 80%;
  margin: auto;
}

@media (max-width: 850px) {
  .contact-section {
    flex-direction: column;
    margin-top: 48px;
  }
  .contact-section .lhs-description {
    width: 100%;
    margin-bottom: 24px;
  }
  .contact-section .rhs-description {
    width: 100%;
  }
}
@media (max-width: 850px) {
  .contact-section .rhs-description .input-field,
  .contact-section .rhs-description textarea,
  .contact-section .rhs-description label,
  .contact-section .rhs-description button {
    width: 100%;
  }
}
/*======END OF CONTACT SECTION STYLING=====*/
/*======FOOTER SECTION STYLING=====*/
footer {
  position: relative;
  background-color: rgb(38, 50, 56);
  padding: 32px 24px;
  color: #fff;
  min-height: 300px;
}
footer hr {
  margin: 24px auto;
  width: 100%;
  color: rgb(114, 119, 121);
}
footer .copyright {
  display: flex;
  justify-content: center;
  margin-top: auto;
}

.footer--wrapper {
  display: flex;
  gap: 24px;
  flex-flow: row wrap;
  justify-content: space-around;
}
.footer--wrapper .logo-container img {
  width: 100px;
  height: auto;
}
.footer--wrapper h5 {
  margin-bottom: 12px;
  color: #fff;
}
.footer--wrapper li {
  color: #fff;
  padding: 6px 0;
  width: 100%;
  transition: 0.3s;
}
.footer--wrapper li:hover {
  margin-left: 2px;
  transition: 0.3s;
}
.footer--wrapper .contact-adress div {
  margin-bottom: 24px;
}

@media (max-width: 550px) {
  .footer--wrapper {
    justify-content: flex-start;
  }
  .footer--wrapper .logo-container {
    width: 100%;
  }
}
/*======END OF FOOTER SECTION STYLING=====*//*# sourceMappingURL=main.css.map */
>>>>>>> 07905a070ca493c71bdc1844f94c5098c7c92890
