.input-field{
    display: block;
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 8px;
    height: 48px;
    padding: 6px 8px;
    line-height: 1;
    font-family: inherit;
    font-size: $bodyFontSize;
  }